/* GENERAL FOR PAGES */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-wrapper {
  position: relative;
  max-width: 1439px;
  padding-left: 132px;
  padding-right: 132px;
  margin: 0 auto;
}
.content-wrapper {
  max-width: 780px;
}
.z-index {
  position: relative;
  z-index: 1;
}
.mirroring {
  transform: rotate3d(0, 1, 0, 180deg);
}

@media (max-width: 1080px) {
  .page-wrapper {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (max-width: 768px) {
  .page-wrapper {
    padding-left: 42px;
    padding-right: 42px;
  }
}
@media (max-width: 480px) {
  .page-wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 360px) {
  .page-wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/* HEADER */
.header {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 273px;
  padding-bottom: 111px;
  position: relative;
  overflow-x: clip;
}
.logo {
  width: 100%;
  max-width: 700px;
}
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 38px;
  margin: 40px 0 0;
}
.params {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 70px 0 0;
}
.param {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
  border-radius: 100px;
  width: max-content;
}
.direction {
  padding: 20px 30px;
}
.competence {
  padding: 17px 27px;
  border-width: 3px;
  border-style: solid;
}
.device-types-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 30px 0 0;
}
.device-type-container {
  display: flex;
  gap: 12px;
  align-items: center;
}
.device-types-list-marker {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.device-type {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
}

@media (max-width: 768px) {
  .header {
    padding-top: 136px;
    padding-bottom: 146px;
  }
  .title {
    font-size: 22px;
    line-height: 24px;
    margin: 30px 0 0;
  }
  .params {
    margin-top: 60px;
    gap: 10px;
  }
  .param {
    font-size: 16px;
    line-height: 16px;
  }
  .direction {
    padding: 16px 30px;
  }
  .competence {
    padding: 14px 28px;
    border-width: 2px;
  }
  .device-type {
    font-size: 16px;
    line-height: 16px;
  }
}

/* MAIN */
/* sections */
.section {
  position: relative;
  margin-top: 100px;
}
.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 36px;
  color: #000000;
  margin: 0 0 40px;
}

/* text */
.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
.paragraph-margin-top {
  margin-top: 24px;
}
.paragraph-bold {
  font-weight: bold;
}

/* lists */
.simple-list {
  display: grid;
  gap: 20px;
}
.simple-list-item {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: flex-start;
}

.technology-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  gap: 40px;
}
.technology-container {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 20px;
  justify-items: center;
}
.technology-logo {
  width: 128px;
  height: 128px;
}
.technology-name-container {
  display: grid;
  justify-items: center;
}
.technology-name {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #949494;
  margin: 0;
  width: max-content;
  text-align: center;
}
.technology-sub-name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #949494;
  margin: 0;
}

/* staff comment */
.staff-comment-section {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 23px;
  align-items: flex-end;
}
.comment-container {
  position: relative;
  border-radius: 40px 40px 0px 40px;
  padding: 68px 56px;
  min-height: 300px;
  margin-bottom: 110px;
}
.staff-container {
  position: absolute;
  right: 23px;
  bottom: 20px;
  text-align: end;
}
.staff-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
.staff-post {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 0;
}
.staff-photo {
  width: 286px;
  height: 286px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  /* sections */
  .section {
    margin-top: 50px;
  }
  .section-title {
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 30px;
  }

  /* text */
  .paragraph {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }
  .paragraph-margin-top {
    margin-top: 16px;
  }

  /* lists */
  .technology-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(73px, 1fr));
  }
  .technology-container {
    gap: 10px;
  }
  .technology-logo {
    width: 73px;
    height: 73px;
  }
  .technology-name {
    font-size: 14px;
    line-height: 19px;
  }
  .technology-sub-name {
    font-size: 12px;
    line-height: 16px;
  }

  /* staff comment */
  .staff-comment-section {
    grid-template-columns: 1fr;
    gap: 6px;
    justify-items: end;
  }
  .comment-container {
    padding: 40px 16px 97px;
    min-height: auto;
    margin-bottom: 0;
    margin-right: 10%;
  }
  .staff-name {
    font-size: 14px;
    line-height: 18px;
  }
  .staff-photo {
    width: 162px;
    height: 162px;
  }
}

/* FOOTER */
.footer {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/01/WhooshMosTransportFooterBackground.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 177px 0 166px;
}
.footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  margin: 0 0 40px;
}

@media (max-width: 768px) {
  .footer {
    padding: 100px 0 126px;
  }
  .footer-title {
    font-size: 28px;
    line-height: 30px;
  }
}

/* GENERAL FOR CASES */
.case {
  width: 100%;
  height: 100%;
}
.case-background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
.case-content {
  padding: 34px;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
}
.case-content:hover {
  background: rgba(0, 0, 0, 0.7);
}
.case-logo {
  max-width: 100%;
  height: 47px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
.case-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 10px 0 0;
  position: relative;
  z-index: 1;
}
.case-content:hover .case-title {
  width: 100%;
}

@media (max-width: 1400px) {
  .case-background-image {
    opacity: 0.5;
  }
}
@media (max-width: 1080px) {
  .case-content {
    padding: 26px;
  }
  .case-title {
    font-size: 18px;
    line-height: 24px;
  }
}

/* NEXIGN PAGES */
.block-with-definition {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas: 'text definition';
  gap: 20px;
  align-items: start;
}
.text-area {
  grid-area: text;
}
.definition-area {
  grid-area: definition;
  position: relative;
  width: 380px;
}
.definition-container {
  position: absolute;
  left: 0;
}
.definition {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  margin: 0;
}

@media (max-width: 960px) {
  .block-with-definition {
    grid-template-areas: 'definition' 'text';
    grid-template-columns: 1fr;
  }
  .definition-container {
    position: relative;
    top: 0;
  }
}
@media (max-width: 768px) {
  .definition {
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 480px) {
  .definition-area {
    width: 100%;
  }
}

/* NEXIGN-B2B PAGE */
.nexign-b2b-header {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/nexign-b2b-header-background.png);
}
.nexign-b2b-header-title {
  color: white;
}
.nexign-b2b-direction {
  color: #37423b;
  background: white;
}
.nexign-b2b-competence {
  color: white;
  border-color: white;
}
.nexign-b2b-definition-container {
  background: #00ad21;
  top: -134px;
  padding: 88px 35px;
}
.nexign-b2b-definition {
  color: white !important;
}
.nexign-b2b-rest-api-definition-container {
  background: white;
  border: 4px solid #00ad21;
  top: -134px;
  padding: 88px 35px;
}
.nexign-b2b-rest-api-definition {
  color: #00ad21 !important;
}
.nexign-b2b-list-marker {
  width: 16px;
  height: 16px;
  margin-top: 5px;
}
.nexign-b2b-disadvantage-list-item {
  gap: 10px;
}
.nexign-b2b-disadvantage-list-marker {
  background: #2e3732;
}
.nexign-b2b-decision-block-list-item {
  gap: 20px;
}
.nexign-b2b-decision-block-list-marker {
  background: #00ad21;
}
.nexign-b2b-comment-container {
  background: #e1ece6;
}

@media (max-width: 1080px) {
  .nexign-b2b-definition-container {
    top: -85px;
  }
  .nexign-b2b-rest-api-definition-container {
    top: -25px;
  }
}
@media (max-width: 960px) {
  .nexign-b2b-definition-container,
  .nexign-b2b-rest-api-definition-container {
    position: relative;
    top: 0;
  }
}
@media (max-width: 768px) {
  .nexign-b2b-list-marker {
    margin-top: 0;
  }
  .nexign-b2b-decision-block-list-item {
    gap: 10px;
  }
}

/* NEXIGN-B2B CASE */
.nexign-b2b-case {
  background: #424f47;
  color: #424f47;
}
.nexign-b2b-case-background-image {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/Nexign_B2B_preview.png);
}
.nexign-b2b-case-logo {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/NexignLogo.png);
}
.nexign-b2b-case-title {
  color: white;
}
.nexign-b2b-case-title::before {
  content: 'B2B-портал\Aдля операторов\Aсвязи';
  white-space: pre-wrap;
}

/* NEXIGN-TELECOM-OPERATOR-BILLING PAGE */
.nexign-telecom-operator-billing-header {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/nexign-telecom-operator-billing-header-background.png);
}
.nexign-telecom-operator-billing-header-title {
  color: white;
}
.nexign-telecom-operator-billing-direction {
  color: #2c5f5f;
  background: white;
}
.nexign-telecom-operator-billing-competence {
  color: white;
  border-color: white;
}
.nexign-telecom-operator-billing-definition-container {
  background: #23363a;
  top: -134px;
  padding: 52px 35px;
}
.nexign-telecom-operator-billing-definition {
  color: white !important;
}
.nexign-telecom-operator-billing-task-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
}
.nexign-telecom-operator-billing-comment-container {
  background: #e1ece6;
}

@media (max-width: 1080px) {
  .nexign-telecom-operator-billing-definition-container {
    top: -44px;
  }
}
@media (max-width: 960px) {
  .nexign-telecom-operator-billing-definition-container {
    top: 0;
  }
}

/* NEXIGN-TELECOM-OPERATOR-BILLING CASE */
.nexign-telecom-operator-billing-case {
  background: #2c5f5f;
  color: #2c5f5f;
}
.nexign-telecom-operator-billing-case-background-image {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/nexign-telecom-operator-billing-case-background-image.png);
}
.nexign-telecom-operator-billing-case-logo {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/NexignLogo.png);
}
.nexign-telecom-operator-billing-case-title {
  color: white;
}
.nexign-telecom-operator-billing-case-title::before {
  content: 'Биллинг\Aоператора\Aсвязи';
  white-space: pre-wrap;
}

/* BKS-INVESTORS-PERSONAL-ACCOUNT PAGE */
.bks-investors-personal-account-header {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/BksHeaderBackground.png);
}
.bks-investors-personal-account-header-title {
  color: white;
}
.bks-investors-personal-account-direction {
  color: #0057bf;
  background: white;
}
.bks-investors-personal-account-competence {
  color: white;
  border-color: white;
}
.bks-investors-personal-account-header-background-illustration {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/BksBackgroundIllustration.png);
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.bks-investors-personal-account-task-list-item {
  gap: 20px;
}
.bks-investors-personal-account-list-marker {
  width: 10px;
  height: 10px;
  background: #126dda;
  border-radius: 50%;
  margin-top: 7px;
}
.bks-investors-personal-account-decision-list-item {
  background-color: #f5f7fa;
  border-radius: 36px;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: 28px 44px;
  gap: 20px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
.bks-investors-personal-account-decision-list-background-1 {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/DecisionListItemBackground-1.png);
}
.bks-investors-personal-account-decision-list-background-2 {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/DecisionListItemBackground-2.png);
}
.bks-investors-personal-account-decision-list-background-3 {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/DecisionListItemBackground-3.png);
}
.bks-investors-personal-account-decision-list-background-4 {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/DecisionListItemBackground-4.png);
}
.bks-investors-personal-account-decision-list-background-5 {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/DecisionListItemBackground-5.png);
}
.bks-investors-personal-account-decision-list-text-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 20px;
  max-width: 587px;
  height: max-content;
}
.bks-investors-personal-account-decision-list-item-icon {
  height: 100%;
  max-height: 280px;
  display: block;
  margin-left: auto;
}
.bks-investors-personal-account-comment-container {
  background: #f5f7fa;
}

@media (max-width: 1439px) {
  .bks-investors-personal-account-header-background-illustration {
    height: 460px;
    top: auto;
    bottom: -116px;
  }
}
@media (max-width: 1300px) {
  .bks-investors-personal-account-decision-list-item {
    grid-template-columns: 2fr 1fr;
  }
  .bks-investors-personal-account-decision-list-text-container {
    max-width: initial;
  }
}
@media (max-width: 1230px) {
  .bks-investors-personal-account-header-background-illustration {
    display: none;
  }
}
@media (max-width: 1080px) {
  .bks-investors-personal-account-decision-list-item {
    grid-template-columns: 1fr;
    padding: 28px 18px;
    gap: 12px;
    justify-items: center;
  }
  .bks-investors-personal-account-decision-list-text-container {
    gap: 12px;
  }
}
@media (max-width: 800px) {
  .bks-investors-personal-account-header-background-illustration {
    height: 360px;
  }
}
@media (max-width: 768px) {
  .bks-investors-personal-account-task-list-item {
    gap: 10px;
  }
  .bks-investors-personal-account-list-marker {
    width: 6px;
    height: 6px;
    margin-top: 5px;
  }
  .bks-investors-personal-account-decision-list-item-icon {
    max-height: 165px;
  }
}

/* BKS-INVESTORS-PERSONAL-ACCOUNT CASE */
.bks-investors-personal-account-case {
  background: #126dda;
  color: #126dda;
}
.bks-investors-personal-account-case-background-image {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/image-82.png);
}
.bks-investors-personal-account-case-logo {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/01/bcs-banner-logo.png);
}
.bks-investors-personal-account-case-title {
  color: white;
}
.bks-investors-personal-account-case-title::before {
  content: 'Разработка\Aличного\Aкабинета\Aинвестора';
  white-space: pre-wrap;
}

/* WHOOSH-MOS-TRANSPORT PAGE */
.whoosh-mos-transport-header {
  color: #363636;
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/01/WhooshMosTransportHeaderBackground.png);
}
.whoosh-mos-transport-header-content-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 'logo illustration' 'content illustration';
}
.whoosh-mos-transport-logo-container {
  grid-area: logo;
}
.whoosh-mos-transport-header-content {
  grid-area: content;
}
.whoosh-mos-transport-header-subtitle-container {
  display: flex;
  gap: 24px;
  align-items: center;
  margin: 70px 0 23px;
}
.whoosh-mos-transport-header-subtitle-logo {
  width: 38px;
  height: 46px;
}
.whoosh-mos-transport-header-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 38px;
  color: #ea020f;
  margin: 0;
}
.whoosh-mos-transport-header-title {
  color: #363636;
}
.whoosh-mos-transport-direction {
  color: #ffc200;
  background: #363636;
}
.whoosh-mos-transport-competence {
  color: #363636;
  border-color: 3px solid #363636;
}
.whoosh-mos-transport-header-background-illustration-container {
  position: relative;
  width: 100%;
  grid-area: illustration;
}
.whoosh-mos-transport-header-background-illustration {
  position: absolute;
  width: 100%;
  top: -100px;
}
.whoosh-mos-transport-link {
  text-decoration: none;
  color: #ed392b;
  cursor: pointer;
}
.whoosh-mos-transport-list-item {
  gap: 30px;
}
.whoosh-mos-transport-list-marker {
  height: 16px;
  background: linear-gradient(
    90deg,
    #ed1100 -1.92%,
    rgba(217, 217, 217, 0) 100%
  );
  border-radius: 2px 0px 0px 2px;
  margin-top: 5px;
}
.whoosh-mos-transport-list-marker-first {
  width: 52px;
}
.whoosh-mos-transport-list-marker-second {
  width: 85px;
}
.whoosh-mos-transport-list-marker-third {
  width: 107px;
}
.whoosh-mos-transport-decision-illustration-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  align-items: flex-end;
}
.whoosh-mos-transport-decision-illustration {
  width: 100%;
}
.whoosh-mos-transport-comment-container {
  background: #faf3df;
}

@media (max-width: 1400px) {
  .whoosh-mos-transport-header-content-container {
    grid-template-areas: 'logo logo' 'content illustration';
  }
  .whoosh-mos-transport-header-background-illustration {
    top: -90px;
    width: auto;
    height: 160%;
    right: 0;
  }
}
@media (max-width: 1200px) {
  .whoosh-mos-transport-header-background-illustration {
    top: 0;
    height: 130%;
  }
}
@media (max-width: 900px) {
  .whoosh-mos-transport-header-background-illustration {
    top: 80px;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .whoosh-mos-transport-header-subtitle-container {
    margin: 30px 0 10px;
  }
  .whoosh-mos-transport-header-subtitle-logo {
    width: 28px;
    height: 34px;
  }
  .whoosh-mos-transport-header-subtitle {
    font-size: 22px;
    line-height: 24px;
  }
  .whoosh-mos-transport-header-background-illustration {
    height: 150%;
    top: 20px;
  }
  .whoosh-mos-transport-list-item {
    gap: 20px;
  }
  .whoosh-mos-transport-list-marker {
    margin-top: 0;
  }
  .whoosh-mos-transport-list-marker-first {
    width: 38px;
  }
  .whoosh-mos-transport-list-marker-second {
    width: 63px;
  }
  .whoosh-mos-transport-list-marker-third {
    width: 79px;
  }
  .whoosh-mos-transport-decision-illustration-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 580px) {
  .whoosh-mos-transport-header-background-illustration {
    top: 120px;
    height: 100%;
  }
}
@media (max-width: 480px) {
  .whoosh-mos-transport-header-background-illustration {
    top: 190px;
    height: 80%;
  }
}

/* WHOOSH-MOS-TRANSPORT CASE */
.whoosh-mos-transport-case {
  background: #ffc200;
  color: #593f00;
}
.whoosh-mos-transport-case-background-image {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/image-87.png);
}
.whoosh-mos-transport-case-logo {
  background-image: url('http://192.168.1.112:8080/wp-content/uploads/2023/01/whoosh-logo.png');
}
.case-content:hover .whoosh-mos-transport-case-logo {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/01/activeWhooshLogo.png) !important;
}
.whoosh-mos-transport-case-subtitle-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 10px 0 0;
}
.whoosh-mos-transport-case-subtitle-logo {
  width: 34px;
  height: 40px;
  background-image: url('http://192.168.1.112:8080/wp-content/uploads/2023/01/mostr-logo.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
.case-content:hover .whoosh-mos-transport-case-subtitle-logo {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/01/activeMostrLogo.png) !important;
}
.whoosh-mos-transport-case-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  position: relative;
  z-index: 1;
  color: red;
}
.case-content:hover .whoosh-mos-transport-case-subtitle {
  color: white !important;
}
.whoosh-mos-transport-case-title {
  color: #363636;
  max-width: 370px;
}
.whoosh-mos-transport-case-title::before {
  content: 'Интеграция с Мос Транспортом';
}
.case-content:hover .whoosh-mos-transport-case-title {
  color: white !important;
}
.case-content:hover .whoosh-mos-transport-case-title::before {
  content: 'Интеграция с Московским транспортом для сервиса кикшеринга.';
}

@media (max-width: 1080px) {
  .whoosh-mos-transport-case-subtitle-logo {
    width: 26px;
    height: 31px;
  }
  .whoosh-mos-transport-case-subtitle {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 550px) {
  .whoosh-mos-transport-case-background-image {
    background-position-x: -200px;
    background-position-y: center;
    background-size: cover;
  }
}

/* SIMONS-VOSS-TRANSPONDER PAGE */
.simons-voss-transponder-header {
  color: #a9ab56;
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/simons-voss-transponder-header-background.png);
}
.simons-voss-transponder-header-title {
  color: white;
}
.simons-voss-transponder-direction {
  color: #242326;
  background: #a9ab56;
}
.simons-voss-transponder-competence {
  color: #a9ab56;
  border-color: #a9ab56;
}
.simons-voss-transponder-device-types-list-marker {
  background: #a9ab56;
}
.simons-voss-transponder-device-type {
  color: #a9ab56;
}
.simons-voss-transponder-comment-container {
  background: #ececdf;
}
.simons-voss-transponder-definition-container {
  padding: 228px 86px 0;
  text-align: center;
  top: -330px;
}
.simons-voss-transponder-definition {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
}
.simons-voss-transponder-decision-illustration {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 127%;
}

@media (max-width: 1200px) {
  .simons-voss-transponder-definition-container {
    padding: 210px 86px 0;
    top: -120px;
  }
  .simons-voss-transponder-decision-illustration {
    max-width: 110%;
  }
}
@media (max-width: 960px) {
  .simons-voss-transponder-definition-container {
    position: relative;
    top: 0;
    padding: 254px 86px 52px;
  }
}
@media (max-width: 768px) {
  .simons-voss-transponder-definition {
    font-size: 20px;
    line-height: 22px;
  }
  .simons-voss-transponder-definition-container {
    position: relative;
    top: 0;
    padding: 250px 86px 68px;
  }
  .simons-voss-transponder-decision-illustration {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .simons-voss-transponder-definition-container {
    padding: 65% 20% 20%;
  }
}

/* SIMONS-VOSS-TRANSPONDER CASE */
.simons-voss-transponder-case {
  background: #232225;
  color: #a9ab56;
}
.simons-voss-transponder-case-case-background-image {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/simons-voss-transponder-case-case-background-image.png);
}
.simons-voss-transponder-case-logo {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/simons-voss-transponder-case-logo.png);
}
.simons-voss-transponder-case-title {
  color: white;
}
.simons-voss-transponder-case-title::before {
  content: 'Интеграция\Aтранспондера\Aв мобильное\Aприложение';
  white-space: pre-wrap;
}

/* SIBUR-CLICK-INTERNAL-SOCIAL-NETWORK PAGE */
.sibur-click-internal-social-network-page-container {
  overflow: hidden;
}
.sibur-click-internal-social-network-header {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/sibur-click-internal-social-network-banner-back.png);
}
.sibur-click-internal-social-network-title {
  color: white;
}
.sibur-click-internal-social-network-direction {
  color: #008c95;
  background: white;
}
.sibur-click-internal-social-network-competence {
  color: white;
  border-color: white;
}
.sibur-click-internal-social-network-device-types-list-marker {
  background: white;
}
.sibur-click-internal-social-network-device-type {
  color: white;
}
.sibur-click-internal-social-network-header-illustration {
  position: absolute;
  top: 60px;
  right: 100px;
}
.sibur-click-internal-social-network-definition {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 38px;
  margin: 0;
}
.sibur-click-internal-social-network-definition-color {
  color: #096b72 !important;
}
.sibur-click-internal-social-network-definition-container {
  height: 474px;
  padding: 150px 70px;
  left: 30px;
  top: -50px;
}
.sibur-click-internal-social-network-definition-illustration {
  position: absolute;
  bottom: 0;
  left: 0;
}
.sibur-click-internal-social-network-functionality-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
}
.sibur-click-internal-social-network-functionality-list-item {
  gap: 10px;
}
.sibur-click-internal-social-network-functionality-list-marker {
  position: relative;
  width: 16px;
  height: 8px;
  margin-top: 9px;
}
.sibur-click-internal-social-network-functionality-list-marker::before,
.sibur-click-internal-social-network-functionality-list-marker::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.sibur-click-internal-social-network-functionality-list-marker:before {
  top: -5px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}
.sibur-click-internal-social-network-functionality-list-marker:after {
  bottom: -5px;
  border-top-width: 5px;
  border-top-style: solid;
}

.marker-008C95 {
  background-color: #008c95;
}
.marker-008C95::before {
  border-bottom-color: #008c95;
}
.marker-008C95::after {
  border-top-color: #008c95;
}

.marker-EC6400 {
  background-color: #ec6400;
}
.marker-EC6400::before {
  border-bottom-color: #ec6400;
}
.marker-EC6400::after {
  border-top-color: #ec6400;
}

.marker-FFA73F {
  background-color: #ffa73f;
}
.marker-FFA73F::before {
  border-bottom-color: #ffa73f;
}
.marker-FFA73F::after {
  border-top-color: #ffa73f;
}

.marker-4FC6CE {
  background-color: #4fc6ce;
}
.marker-4FC6CE::before {
  border-bottom-color: #4fc6ce;
}
.marker-4FC6CE::after {
  border-top-color: #4fc6ce;
}

.sibur-click-internal-social-network-decision-illustration-container {
  position: relative;
  margin-top: 60px;
  height: 727px;
}
.sibur-click-internal-social-network-decision-illustration-1 {
  position: absolute;
  top: 0;
  left: -163px;
}
.sibur-click-internal-social-network-decision-illustration-2 {
  position: absolute;
  top: 0;
  left: 340px;
}
.sibur-click-internal-social-network-decision-illustration-3 {
  position: absolute;
  top: -120px;
  right: 170px;
}
.sibur-click-internal-social-network-decision-illustration-4 {
  position: absolute;
  top: -120px;
  right: -150px;
}
.sibur-click-internal-social-network-comment-container {
  background: #e4f2f6;
}
.sibur-click-internal-social-network-customer-comment-container {
  background: #e4f2f6;
  min-height: 208px;
}

@media (max-width: 1919px) {
  .sibur-click-internal-social-network-header-illustration {
    height: 90%;
    top: 228px;
    right: 0;
  }
  .sibur-click-internal-social-network-definition-container {
    left: 0;
  }
}
@media (max-width: 1560px) {
  .sibur-click-internal-social-network-decision-illustration-1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .sibur-click-internal-social-network-decision-illustration-2 {
    left: 506px;
  }
  .sibur-click-internal-social-network-decision-illustration-3 {
    right: 0;
  }
  .sibur-click-internal-social-network-decision-illustration-4 {
    display: none;
  }
}
@media (max-width: 1439px) {
  .sibur-click-internal-social-network-header-illustration {
    height: 50%;
    top: 370px;
    right: 0;
  }
  .sibur-click-internal-social-network-decision-illustration-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height: max-content;
  }
  .sibur-click-internal-social-network-decision-illustration-1 {
    position: relative;
    max-height: 100%;
  }
  .sibur-click-internal-social-network-decision-illustration-2 {
    position: relative;
    left: 0;
    max-height: 100%;
  }
  .sibur-click-internal-social-network-decision-illustration-3 {
    display: none;
  }
}
@media (max-width: 1000px) {
  .sibur-click-internal-social-network-decision-illustration-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 960px) {
  .sibur-click-internal-social-network-definition-container {
    position: relative;
    height: max-content;
    width: max-content;
    top: 0;
    background-color: #d9eff2;
    padding: 90px;
  }
  .sibur-click-internal-social-network-definition-illustration {
    display: none;
  }
}
@media (max-width: 929px) {
  .sibur-click-internal-social-network-header-illustration {
    display: none;
  }
}
@media (max-width: 768px) {
  .sibur-click-internal-social-network-header-illustration {
    display: block;
    top: 250px;
  }
  .sibur-click-internal-social-network-definition {
    font-size: 24px;
    line-height: 26px;
  }
  .sibur-click-internal-social-network-functionality-list {
    gap: 10px 20px;
  }
  .sibur-click-internal-social-network-functionality-list-marker {
    margin-top: 4px;
  }
  .sibur-click-internal-social-network-decision-illustration-container {
    margin-top: 30px;
  }
  .sibur-click-internal-social-network-technology-list {
    grid-template-columns: repeat(auto-fit, minmax(111px, 1fr));
  }
}
@media (max-width: 680px) {
  .sibur-click-internal-social-network-header-illustration {
    display: none;
  }
}
@media (max-width: 570px) {
  .sibur-click-internal-social-network-decision-illustration-1 {
    max-width: 100%;
  }
  .sibur-click-internal-social-network-decision-illustration-2 {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .sibur-click-internal-social-network-definition-container {
    width: 100%;
    padding: 60px;
  }
}

/* SIBUR-CLICK-INTERNAL-SOCIAL-NETWORK CASE */
.sibur-click-internal-social-network-case {
  background: #008c95;
  color: #008c95;
}
.sibur-click-internal-social-network-case-background-image {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/image-67.png);
}
.sibur-click-internal-social-network-case-logo {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/Sibur_click_Logo.png);
}
.sibur-click-internal-social-network-case-title {
  color: white;
}
.sibur-click-internal-social-network-case-title::before {
  content: 'Внутренняя\Aсоциальная\Aсеть';
  white-space: pre-wrap;
}

/* AML-SYSTEM PAGE */
.aml-system-header {
  color: #e41d30;
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/aml-system-header-background.png);
}
.aml-system-title {
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 90px;
  color: #e41d30;
}
.aml-system-direction {
  color: white;
  background: #e41d30;
}
.aml-system-competence {
  color: #e41d30;
  border-color: #e41d30;
}
.aml-system-header-illustration {
  position: absolute;
  bottom: -220px;
  right: 0;
}
.aml-system-definition-container {
  width: 380px;
  height: 380px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
  background: #f0f2fa;
  top: 80px;
}
.aml-system-definition {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  margin: 0;
  color: #000000;
}
.aml-system-definition-container-illustration {
  position: absolute;
  bottom: 30px;
  right: 40px;
  border-radius: 50%;
  background: #e41d30;
  width: 40px;
  height: 40px;
}
.aml-system-decision-illustration-container {
  margin: 68px 0;
}
.aml-system-decision-illustration {
  width: 100%;
}
.aml-system-decision-definition-container {
  top: 50%;
  transform: translate(0, -50%);
}
.aml-system-decision-definition-ball {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: #f0f2fa;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -100px;
}
.aml-system-definition-area {
  height: 100%;
}

@media (max-width: 1439px) {
  .aml-system-decision-definition-ball {
    width: 210px;
    height: 210px;
  }
}
@media (max-width: 1919px) {
  .aml-system-header-illustration {
    position: absolute;
    bottom: -130px;
    right: 0;
    max-width: 666px;
  }
}
@media (max-width: 1180px) {
  .aml-system-header-illustration {
    max-width: 500px;
    bottom: -70px;
  }
}
@media (max-width: 960px) {
  .aml-system-definition-container {
    top: 0;
  }
  .aml-system-header-illustration {
    max-width: 400px;
    bottom: -140px;
  }
  .aml-system-decision-definition-container {
    position: relative;
    height: 296px;
    display: grid;
    align-items: center;
    text-align: center;
  }
  .aml-system-decision-definition-title {
    max-width: 296px;
  }
  .aml-system-decision-definition-ball {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 296px;
    height: 296px;
  }
}
@media (max-width: 768px) {
  .aml-system-title {
    font-size: 50px;
    line-height: 54px;
  }
  .aml-system-header-illustration {
    max-width: 270px;
    bottom: -36px;
  }
  .aml-system-definition-container {
    width: 296px;
    height: 296px;
  }
  .aml-system-definition-container-illustration {
    bottom: 20px;
    width: 30px;
    height: 30px;
  }
  .aml-system-definition {
    font-size: 40px;
    line-height: 44px;
  }
  .aml-system-decision-illustration-container {
    margin: 16px 0;
  }
}
@media (max-width: 500px) {
  .aml-system-header-illustration {
    display: none;
  }
}

/* AML-SYSTEM CASE */
.aml-system-case {
  background: #f4f6fb;
  color: #e41d30;
}
.aml-system-case-background-image {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/aml-system-case-background-image.png);
}
.aml-system-case-logo {
  background-image: url(http://192.168.1.112:8080/wp-content/uploads/2023/02/aml-system-case-logo.png);
  height: 24px;
}
.aml-system-case-title {
  color: #e41d30;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
}
.aml-system-case-title::before {
  content: 'Система\A AML';
  white-space: pre-wrap;
}
.case-content:hover .aml-system-case-title {
  color: white;
}
